.homeContainer {
	margin: 0 auto;
	height: calc(100vh - 10rem);
	max-width: 1120px;

	.homeContent {
		margin: 2rem auto auto auto;
		padding: 0 2rem;

		@media (max-width: 768px) {
			grid-template-columns: repeat(1, 1fr);
			gap: 4rem;
		}

		display: grid;
		justify-content: space-between;
		grid-template-columns: repeat(2, 1fr);
		gap: 2rem;
		align-items: center;

		span {
			color: var(--purple-500);
		}
		h1 {
			font-size: 5rem;
			line-height: 5rem;
			font-weight: 900;
		}
		h2 {
			font-weight: 400;
		}

		button {
			margin-top: 2rem;
		}
	}
}
