.homeContainer {
	display: flex;
	align-items: center;
	height: 85vh;

	.homeContent {
		max-width: 1180px;
		margin: 2rem auto auto auto;
		padding: 0 2rem;

		@media (max-width: 768px) {
			grid-template-columns: repeat(1, 1fr);
			gap: 4rem;
			h1 {
				line-height: 5rem;
			}
		}

		display: grid;
		grid-template-columns: repeat(2, 1fr);
		gap: 2rem;
		align-items: center;

		span {
			color: var(--purple-500);
		}
		h1 {
			font-size: 5rem;
		}
	}
}
